<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="9-QraChwe87dbsB7Z9mUPhsr7x8p3-Th81YdZnvMHnI" />
    <meta name="msvalidate.01" content="402C43A44385B0E5A719E864C4D1B774" />
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{{ site.metaKeywords }}, {% for tag in page.tags %}{{ tag }}, {% endfor %}" />
    <meta name="author" content="Pinal Bhatt" />

    <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
    <meta property="fb:admins" content="731775365" />
    <meta property="fb:app_id" content="150800278297282"/>
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="{{page.url | prepend: site.baseurl | prepend: site.url}}" />
    <link type="text/plain" rel="author" href="http://pbdesk.io/humans.txt" />
    <link href="https://plus.google.com/104802217330869674552" rel="publisher" />
    <link href="https://plus.google.com/116495447274977757345?rel=author" rel="author" />

    {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
    {% endif %}

    <link rel="stylesheet" href="{{ "/css/animate.min.css" | prepend: site.baseurl }}">
    <link href="/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ "/css/app.min.1.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/app.min.2.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/pbdesk.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
