<!DOCTYPE html>
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="PBDesk.RApp" ng-controller="mainController">
    <head>
        <meta charset="utf-8"> 
        
        <!-- TITLE OF SITE -->
        <title> Pinal Bhatt </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Pinal Bhatt's Resume/CV. PBDesk.IO - from the desk of Pinal Bhatt" />
        <meta name="keywords" content="Pinal Bhatt, Pinal, Bhatt, PBDesk, cv, resume, portfolio" />
        <meta name="author" content="Pinal Bhatt">
        
        <!-- FAVICON -->
        <link rel="icon" href="assets/images/favicon.ico">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-icon-114x114.png">

        
        <!-- GOOGLE FONTS -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,400' rel='stylesheet' type='text/css'>
        
        <!-- FRAMEWORK CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
        <!--<link rel="stylesheet" href="css/lightbox.css">-->
        
        <!-- FONT ICONS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        
        <!-- ADDITIONAL CSS -->
         <link rel="stylesheet" href="assets/css/timeline.css">
         <link rel="stylesheet" href="assets/css/animate.css">
         <link rel="stylesheet" href="assets/css/nav.css">
         <link rel="stylesheet" href="assets/css/jquery.fancybox.css">
        
        <!--   COUSTOM CSS link  -->
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/pbdesk-rsvc.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        
        <!--   COLOUR  -->
        <link rel="stylesheet" href="assets/css/color/lime.css" title="lime">
        <!--<link rel="stylesheet" href="assets/css/color/lime.css" title="lime">--><!-- Currently Usingthis color  -->
        <!-- <link rel="stylesheet" href="assets/css/color/red.css" title="red"> -->
        <!-- <link rel="stylesheet" href="assets/css/color/green.css" title="green"> -->
        <!-- <link rel="stylesheet" href="assets/css/color/purple.css" title="purple"> -->
        <!-- <link rel="stylesheet" href="assets/css/color/orange.css" title="orange">  -->

        <style>






                    </style>

    </head>
    <body>
        <!-- =========================================
                           HEADER TOP   
        ==========================================-->
        <header id="header-top" > <!--Start: "Header Area"-->
            <div class="container">
                <div class="row" ng-if="accessGranted == true">
                    <div class="top-contact col m12 s12 right">
                        <span><i class="fa fa-twitter"></i> <a target="_blank" href="https://twitter.com/pbdesk">@PBDesk</a></span>
                        <span><i class="fa fa-envelope"></i> <a ng-href="mailto:{{cvData.basics.email}}">{{cvData.basics.email}}</a></span>
                        <span><i class="fa fa-phone"></i> <a ng-href="tel:{{cvData.basics.phone}}">{{cvData.basics.phone}} </a></span>
                    </div>  
                </div>
            </div>
            
            <!-- =========================================
                           NAVIGATION   
            ==========================================-->
            <div id="header-bottom" class="z-depth-1" > <!--Start: "Header Area"-->
                <div id="sticky-nav">
                    <div class="container">
                        <div class="row">
                            <nav class="nav-wrap" >
                                <ul class="hide-on-med-and-down group"  id="example-one">
                                    <li class="current_page_item"><a href="#">Home</a></li>
                                    <li ng-if="accessGranted == true"><a href="#about">About</a></li>
                                    <li ng-if="accessGranted == true"><a href="#summary">Summary</a></li>
                                    <li><a href="#skills">Skills</a></li>                                
                                    <li><a href="#works">Works</a></li>                                
                                    <li><a href="#portfolio">Portolio</a></li>                                
                                    <li><a href="#education">Education</a></li>
                                    <li><a href="#blog">Blog</a></li>
                                    <li><a href="#pricing-table">Pricing</a></li>                                
                                    <li><a href="#clients">Client</a></li>
                                    <li><a href="#contact-form">Contact</a></li>
                                </ul>
                                <ul class="side-nav" id="slide-out">
                                    <li><a href="#" class="active">Home</a></li>
                                    <li ng-if="accessGranted == true"><a href="#about">About</a></li>
                                    <li ng-if="accessGranted == true"><a href="#summary">Summary</a></li>
                                    <li><a href="#skills">Skills</a></li>                                
                                    <li><a href="#works">Works</a></li>                                
                                    <li><a href="#portfolio">Portolio</a></li>                                
                                    <li><a href="#education">Education</a></li>
                                    <li><a href="#blog">Blog</a></li>
                                    <li><a href="#pricing-table">Pricing</a></li>                                
                                    <li><a href="#clients">Client</a></li>
                                    <li><a href="#contact-form">Contact</a></li>
                                </ul>
                                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i> <span style="padding-left: 10px;font-size: 30px;">Pinal Bhatt</span></a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div> <!--End: Header Area-->
        </header> <!--End: Header Area-->



        <!-- =========================================
                        ABOUT
        ==========================================-->
        <section id="accessCode" ng-if="accessGranted == false">
            <div class="container" >
                <div class="row">
                    <div class="intro z-depth-1 col m12">

                        <div class="col m12 s12 co-centered wow fadeIn a2" data-wow-delay="0.2s">
                            <div class="intro-content">
                                <h2>Pinal Bhatt</h2>
                                <span>Software Engineer</span>
                            </div>
                        </div>
                        <div id="contact-form1">
                            <div class="container">
                                <div class="row">
                                    <div class="section-title wow fadeIn a1" data-wow-delay="0.1s" style="padding-bottom: 15px">
                                        <p>Techie's Resume should be in <b>Techie</b><em>Style</em>.</p>
                                        <p>Please enter the code to access my Resume Or  <a href="#contact-form">request access code</a></p>
                                    </div>
                                    <div class="contact-form" id="contact">
                                        <div class="row">
                                            <form id="accessCodeForm" data-toggle="validator">
                                                <div id="msgSubmit1" class="h3 text-center hidden"></div>
                                                <div class="col m2 s12">&nbsp;</div>
                                                <div class="input-field col m6 s12 wow fadeIn a2" data-wow-delay="0.2s">
                                                    <label for="name" class="h4">Enter Access Code</label>
                                                    <input type="password" ng-model="data.accessCode" class="form-control validate" id="name" required data-error="NEW ERROR MESSAGE">
                                                </div>
                                                <button type="submit" id="accessCodeSubmit" class="btn btn-success waves-effect wow fadeIn a7" data-wow-delay="0.7s" ng-click="requestAccess()"><i class="fa fa-send"></i></button>
                                            </form>

                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>

        
        <!-- =========================================
                        ABOUT   
        ==========================================-->
        <section id="about" ng-if="accessGranted == true">
            <div class="container">
                <div class="row">
                    <div class="intro z-depth-1 col m12">
                        <div class="col m12 s12">
                            <div class="profile-pic wow fadeIn a1" data-wow-delay="0.1s" >
                                <img ng-src="{{cvData.basics.picture}}" alt="">
                            </div>
                        </div>
                        <div class="col m12 s12 co-centered wow fadeIn a2" data-wow-delay="0.2s">
                            <div class="intro-content">
                                <h2>{{cvData.basics.name}}</h2>
                                <span>{{cvData.basics.tagLine}}</span>
                                <p ng-bind-html="cvData.basics.intro"></p>
                                <a href="#" class="btn waves-effect" style="width:180px; text-transform: none"><i class="fa fa-download"></i> Download CV</a>
                                <a href="#contact-form" class="btn btn-success waves-effect" style="width:180px; text-transform: none">Contact Me</a>
                                <br/>

                                <!--<a class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-facebook"></i></a>
                                <a class="waves-effect waves-light btn red lighten-5">Stuff</a>-->
                                <a href="#" class=" waves-effect waves-light btn" style="width:180px;text-transform: none"><i class="fa fa-facebook"></i> | Go.PBDesk</a>
                                <a href="#" class="btn waves-effect" style="width:180px;text-transform: none"><i class="fa fa-twitter"></i> | @PBDesk</a>
                                <a href="#" class="btn waves-effect" style="width:180px;text-transform: none"><i class="fa fa-linkedin"></i> | pinal.bhatt</a>
                                <a href="#" class="btn waves-effect" style="width:180px;text-transform: none"><i class="fa fa-github"></i> | @PBDesk</a>
                                <a href="#" class="btn waves-effect" style="width:180px;text-transform: none"><i class="fa fa-google-plus"></i> | +PBDesk</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- =========================================
                        Summary
        ==========================================-->
        <section id="summary" ng-if="accessGranted == true">
            <div class="container">
                <div class="row">
                    <div class="section-title wow fadeIn a1" data-wow-delay="0.1s">
                        <h2> <i class="fa fa-gears"></i>Summary</h2>
                    </div>
                    <div class="intro z-depth-1 col m12">

                        <div class="col m12 s12 co-centered wow fadeIn a2" data-wow-delay="0.2s">
                            <div class="intro-content">
                                <p ng-bind-html="cvData.basics.summary" style="text-align: justify"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- =========================================
                           SKILLS   
        ==========================================-->
        <section id="skills" ng-if="accessGranted == true">
            <div class="container">
                <div class="row">
                    <div class="section-title wow fadeIn a1" data-wow-delay="0.1s">
                        <h2> <i class="fa fa-gears"></i>Skills</h2>
                    </div>
                    <div class="skill-line z-depth-1">
                        <div class="row">
                            <div class="col m6 s12">
                                <div class="col m2 skill-icon">
                                    <i class="fa fa-calendar-o"></i>
                                </div>
                                <div class="skill-bar col m10 wow fadeIn a1"  data-wow-delay="0.1s">
                                    <h3>Professional Skills </h3>
                                    <span>Adobe Photoshop</span>                                    
                                    <div class="progress">
                                        <div class="determinate"> 70% </div>
                                    </div>
                                    
                                    <span>HTML</span>
                                    <div class="progress">
                                        <div class="determinate"> 95%</div>
                                    </div>
                                    
                                    <span>CSS</span>
                                    <div class="progress">
                                        <div class="determinate">90%</div>
                                    </div>
    
                                    <span>Javascript</span>
                                    <div class="progress">
                                        <div class="determinate">85%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col m6 s12">
                                <div class="col m2 skill-icon">
                                    <i class="fa fa-calendar-o"></i>
                                </div>
                                <div class="skill-bar col m10 wow fadeIn a2" data-wow-delay="0.2s">
                                    <h3>Personal Skills </h3>
                                    <span>Communication</span>                                    
                                    <div class="progress">
                                        <div class="determinate"> 70% </div>
                                    </div>
                                    
                                    <span>Team Work</span>
                                    <div class="progress">
                                        <div class="determinate"> 95%</div>
                                    </div>
                                    
                                    <span>Creativity</span>
                                    <div class="progress">
                                        <div class="determinate">90%</div>
                                    </div>
    
                                    <span>Dedication</span>
                                    <div class="progress">
                                        <div class="determinate">85%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- ========================================
                WORKS EXPERIENCE  
        ==========================================-->
        <section id="works" ng-if="accessGranted == true">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2> <i class="fa fa-suitcase"> </i>Work Experience</h2>
                    </div>
                    <div id="cd-timeline" class="cd-container">
                		<div class="cd-timeline-block wow fadeIn a2" data-wow-delay="0.2s">
                			<div class="cd-timeline-img">
                			</div> <!-- cd-timeline-img -->
                			<div class="cd-timeline-content col m5 s12 z-depth-1">
                				<a href=""><h2>UI & WEB DESIGNER @Academy</h2></a>
                				<span>11 Jan 2015 </span>
                				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, 
                				dolorum provident rerum aut hic quasi placeat iure tempora.</p>
                			</div> <!-- cd-timeline-content -->
                		</div> <!-- cd-timeline-block -->
                		<div class="cd-timeline-block wow fadeIn a3" data-wow-delay="0.3s">
                			<div class="cd-timeline-img">
                			</div> <!-- cd-timeline-img -->
                			<div class="cd-timeline-content col m5 s12 z-depth-1">
                				<a href=""><h2>UI & WEB DESIGNER @Academy</h2></a>
                				<span>11 Jan 2015 </span>
                				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, 
                				dolorum provident rerum aut hic quasi placeat iure tempora.</p>
                			</div> <!-- cd-timeline-content -->
                		</div> <!-- cd-timeline-block -->
                
                		<div class="cd-timeline-block wow fadeIn a4" data-wow-delay="0.4s">
                			<div class="cd-timeline-img">
                			</div> <!-- cd-timeline-img -->
                			<div class="cd-timeline-content col m5 s12 z-depth-1">
                				<a href=""><h2>UI & WEB DESIGNER @Academy</h2></a>
                				<span>11 Jan 2015 </span>
                				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, 
                				dolorum provident rerum aut hic quasi placeat iure tempora.</p>
                			</div> <!-- cd-timeline-content -->
                		</div> <!-- cd-timeline-block -->
                		<div class="cd-timeline-block wow fadeIn a5" data-wow-delay="0.5s">
                			<div class="cd-timeline-img">
            			    </div> <!-- cd-timeline-img -->
                			<div class="cd-timeline-content col m5 s12 z-depth-1">
                				<a href=""><h2>UI & WEB DESIGNER @Academy</h2></a>
                				<span>11 Jan 2015 </span>
                				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, 
                				dolorum provident rerum aut hic quasi placeat iure tempora.</p>
                			</div> <!-- cd-timeline-content -->
                		</div> <!-- cd-timeline-block -->
                	</div> <!-- cd-timeline -->
                </div>
            </div>
        </section>
        
        <!-- =========================================
                    PORTFOLIO   
        ==========================================-->
        <section id="portfolio" ng-if="accessGranted == true">
            <div class="container">
                <div class="row">
                    <div class="section-title wow fadeIn a1" data-wow-delay="0.1s">
                        <h2><i class="fa fa-th-list"></i>Portfolio</h2>
                    </div>
                    <div class="col m12 s12 portfolio-nav">
                        <ul>
                            <li class="filter" data-filter="all">Show All</li>
                            <li class="filter" data-filter=".category-1">Art</li>
                            <li class="filter" data-filter=".category-2">Icons</li>
                            <li class="filter" data-filter=".category-3">Web Design</li>
                            <li class="filter" data-filter=".category-4">Materials</li>
                        </ul>
                    </div>
                    <div class="screenshots" id="portfolio-item">
                        <div class="row">
                		<ul class="grid">
                			<li class="col m3 s12 mix category-1">
                				<figure>
                					<img src="assets/images/p-1.jpg" alt="Screenshot 01">
                					<figcaption>
                    					<div class="caption-content">
                    						<a href="assets/images/p-1.jpg" class="single_image">
                    							<i class="fa fa-search"></i></a>							
                    							<a href="#"><i class="fa fa-link"></i></a>							
                    						
                    					</div>
                					</figcaption>
                				</figure>
                			</li>
                			<li class="col m3 s12 mix category-2">
                				<figure>
                					<img src="assets/images/p-1.jpg" alt="Screenshot 01">
                					<figcaption>
                					<div class="caption-content">
                						<a href="assets/images/p-1.jpg" class="single_image">
                							<i class="fa fa-search"></i></a>							
                							<a href="#"><i class="fa fa-link"></i></a>				
                					</div>
                					</figcaption>
                				</figure>
                			</li>
                			<li class="col m3 s12 mix category-1">
                				<figure>
                					<img src="assets/images/p-1.jpg" alt="Screenshot 01">
                					<figcaption>
                					<div class="caption-content">
                						<a href="assets/images/p-1.jpg" class="single_image">
                							<i class="fa fa-search"></i></a>							
                							<a href="#"><i class="fa fa-link"></i></a>								
                					</div>
                					</figcaption>
                				</figure>
                			</li>
                			<li class="col m3 s12 mix category-2">
                				<figure>
                					<img src="assets/images/p-1.jpg" alt="Screenshot 01">
                					<figcaption>
                					<div class="caption-content">
                						<a href="assets/images/p-1.jpg" class="single_image">
                							<i class="fa fa-search"></i></a>							
                							<a href="#"><i class="fa fa-link"></i></a>	
                					</div>
                					</figcaption>
                				</figure>
                			</li>
                
                			<li class="col m3 s12 mix category-4">
                				<figure>
                					<img src="assets/images/p-1.jpg" alt="Screenshot 01">
                					<figcaption>
                					<div class="caption-content">
                						<a href="assets/images/p-1.jpg" class="single_image">
                							<i class="fa fa-search"></i></a>							
                							<a href="#"><i class="fa fa-link"></i>	</a>					
                					</div>
                					</figcaption>
                				</figure>
                			</li>
                			<li class="col m3 s12 mix category-1">
                				<figure>
                					<img src="assets/images/p-1.jpg" alt="Screenshot 01">
                					<figcaption>
                					<div class="caption-content">
                						<a href="assets/images/p-1.jpg" class="single_image">
                							<i class="fa fa-search"></i></a>							
                							<a href="#"><i class="fa fa-link"></i></a>					
                					</div>
                					</figcaption>
                				</figure>
                			</li>
                			<li class="col m3 s12 mix category-2">
                				<figure>
                					<img src="assets/images/p-1.jpg" alt="Screenshot 01">
                					<figcaption>
                					<div class="caption-content">
                						<a href="assets/images/p-1.jpg" class="single_image">
                							<i class="fa fa-search"></i></a>							
                							<a href="#"><i class="fa fa-link"></i></a>									
                					</div>
                					</figcaption>
                				</figure>
                			</li>
                			<li class="col m3 s12 mix category-3">
                				<figure>
                					<img src="assets/images/p-1.jpg" alt="Screenshot 01">
                					<figcaption>
                					<div class="caption-content">
                						<a href="assets/images/p-1.jpg" class="single_image">
                							<i class="fa fa-search"></i></a>							
                							<a href="#"><i class="fa fa-link"></i></a>	
                					</div>
                					</figcaption>
                				</figure>
                			</li>
                		</ul>
                		</div>
                	</div>
                	
                	<!-- =========================================
                            MARKET PLACE   
                    ==========================================-->
                    <div class="market-place col m12 s12 z-depth-1 wow fadeIn a3" data-wow-delay="0.3s">
                        <ul>
                            <li><a href=""><h3>Behence</h3></a></li>
                            <li><a href=""><h3>Dribble</h3></a></li>
                            <li><a href=""><h3>Envato</h3></a></li>
                            <li><a href=""><h3>Github</h3></a></li>
                            <li><a href=""><h3>Twitter</h3></a></li>
                            <li><a href=""><h3>Facebook</h3></a></li>
                        </ul>
                    </div>
                </div>  
            </div>
        </section>
        <!-- =========================================
                EDUCATION  
        ==========================================-->
        <section id="education" ng-if="accessGranted == true">
            <div class="container">
                <div class="row">
                    <div class="section-title wow fadeIn a1" data-wow-delay="0.1s">
                        <h2> <i class="fa fa-graduation-cap"></i>Education</h2>
                    </div>
                    
                    <div class="cd-container" id="ed-timeline">
                		<div class="cd-timeline-block wow fadeIn a2" data-wow-delay="0.2s">
                			<div class="cd-timeline-img">
                			</div> <!-- cd-timeline-img -->
                			<div class="cd-timeline-content col m5 s12 z-depth-1">
                				<a href=""><h2>UI & WEB DESIGNER @Academy</h2></a>
                				<span>11 Jan 2015 </span>
                				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, 
                				dolorum provident rerum aut hic quasi placeat iure tempora.</p>
                			</div> <!-- cd-timeline-content -->
                		</div> <!-- cd-timeline-block -->
                		<div class="cd-timeline-block wow fadeIn a3" data-wow-delay="0.3s">
                			<div class="cd-timeline-img">
                			</div> <!-- cd-timeline-img -->
                			<div class="cd-timeline-content col m5 s12 z-depth-1">
                				<a href=""><h2>UI & WEB DESIGNER @Academy</h2></a>
                				<span>11 Jan 2015 </span>
                				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, 
                				dolorum provident rerum aut hic quasi placeat iure tempora.</p>
                			</div> <!-- cd-timeline-content -->
                		</div> <!-- cd-timeline-block -->
                
                		<div class="cd-timeline-block wow fadeIn a4" data-wow-delay="0.4s">
                			<div class="cd-timeline-img">
                			</div> <!-- cd-timeline-img -->
                			<div class="cd-timeline-content col m5 s12 z-depth-1">
                				<a href=""><h2>UI & WEB DESIGNER @Academy</h2></a>
                				<span>11 Jan 2015 </span>
                				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, 
                				dolorum provident rerum aut hic quasi placeat iure tempora.</p>
                			</div> <!-- cd-timeline-content -->
                		</div> <!-- cd-timeline-block -->
                		<div class="cd-timeline-block wow fadeIn a5" data-wow-delay="0.5s">
                			<div class="cd-timeline-img">
            			    </div> <!-- cd-timeline-img -->
                			<div class="cd-timeline-content col m5 s12 z-depth-1">
                				<a href=""><h2>UI & WEB DESIGNER @Academy</h2></a>
                				<span>11 Jan 2015 </span>
                				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, 
                				dolorum provident rerum aut hic quasi placeat iure tempora.</p>
                			</div> <!-- cd-timeline-content -->
                		</div> <!-- cd-timeline-block -->
                	</div> <!-- cd-timeline -->
                    
                </div>
            </div>
        </section>
        <!-- =========================================
                BLOG 
        ==========================================-->
        <section id="blog" ng-if="accessGranted == true">
            <div class="container">
                <div class="row">
                    <div class="section-title wow fadeIn a1" data-wow-delay="0.1s">
                        <h2> <i class="fa fa-edit"> </i>Blog</h2>
                    </div>
                    <div class="row">
                        <div class="blog">
                            <div class="col m4 s12 blog-post wow fadeIn a2" data-wow-delay="0.2s">
                                <div class="thumbnail z-depth-1 animated">
                                    <a href="blog-full-post.html"><img src="assets/images/b-1.jpg" alt="" class="responsive-img"></a>                                       
                                    <div class="blog-details">
                                        <div class="post-title" id="blog-post-1">
                                            <a href="blog-full-post.html">
                                                <h2>Website Design</h2>
                                                <span>branding, ui-ux, article</span>
                                            </a>
                                        </div> 
                                        <div class="post-details">                                            
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Aliquam ornare arcu ac velit ultricies fermentum.
                                            Aliquam ornare arcu ac velit ultricies fermentum.</p>                           
                                        </div> 
                                    </div>              
                                </div>
                            </div>
                            <div class="col m4 s12 blog-post wow fadeIn a3" data-wow-delay="0.3s">
                                <div class="thumbnail z-depth-1">
                                    <a href="blog-full-post.html"><img src="assets/images/b-1.jpg" alt="" class="responsive-img"></a>                                        
                                    <div class="blog-details">
                                        <div class="post-title" id="blog-post-2">
                                            <a href="blog-full-post.html">
                                                <h2>Website Redesign</h2>
                                                <span>branding, ui-ux, article</span>
                                            </a>
                                        </div> 
                                        <div class="post-details">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Aliquam ornare arcu ac velit ultricies fermentum.
                                            Aliquam ornare arcu ac velit ultricies fermentum.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Aliquam ornare arcu ac velit ultricies fermentum.
                                            Aliquam ornare arcu ac velit ultricies fermentum.</p>
                                        </div> 
                                    </div>              
                                </div>
                            </div>
                            <div class="col m4 s12 blog-post wow fadeIn a4" data-wow-delay="0.4s">
                                <div class="thumbnail z-depth-1">
                                    <a href="blog-full-post.html"><img src="assets/images/b-1.jpg" alt="" class="responsive-img"></a>                                       
                                    <div class="blog-details">
                                        <div class="post-title" id="blog-post-3">
                                            <a href="blog-full-post.html">
                                                <h2>Music Player Design</h2>
                                                <span>branding, ui-ux, article</span>
                                            </a>
                                        </div> 
                                        <div class="post-details">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Aliquam ornare arcu ac velit ultricies fermentum.
                                            Aliquam ornare arcu ac velit ultricies fermentum.</p>                               
                                        </div> 
                                    </div>              
                                </div>
                            </div>
                            <div class="col m4 s12 blog-post wow fadeIn a5" data-wow-delay="0.5s">
                                <div class="thumbnail z-depth-1">
                                    <a href="blog-full-post.html"><img src="assets/images/b-1.jpg" alt="" class="responsive-img"></a>                                       
                                    <div class="blog-details">
                                        <div class="post-title" id="blog-post-4">
                                            <a href="blog-full-post.html">
                                                <h2>Marketing Partner</h2>
                                                <span>branding, ui-ux, article</span>
                                            </a>
                                        </div> 
                                        <div class="post-details">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Aliquam ornare arcu ac velit ultricies fermentum.
                                            Aliquam ornare arcu ac velit ultricies fermentum.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Aliquam ornare arcu ac velit ultricies fermentum.
                                            Aliquam ornare arcu ac velit ultricies fermentum.</p> 
                                        </div> 
                                    </div>              
                                </div>
                            </div>
                            <div class="col m4 s12 blog-post wow fadeIn a6" data-wow-delay="0.6s">
                                <div class="thumbnail z-depth-1">
                                    <a href="blog-full-post.html"><img src="assets/images/b-1.jpg" alt="" class="responsive-img"></a>                                       
                                    <div class="blog-details">
                                        <div class="post-title" id="blog-post-6">
                                            <a href="blog-full-post.html">
                                                <h2>Marketing Partner</h2>
                                                <span>branding, ui-ux, article</span>
                                            </a>
                                        </div> 
                                        <div class="post-details">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Aliquam ornare arcu ac velit ultricies fermentum.
                                            Aliquam ornare arcu ac velit ultricies fermentum.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Aliquam ornare arcu ac velit ultricies fermentum.
                                            Aliquam ornare arcu ac velit ultricies fermentum.</p>
                                        </div> 
                                    </div>              
                                </div>
                            </div>
                            <div class="col m4 s12 blog-post wow fadeIn a7" data-wow-delay="0.7s">
                                <div class="thumbnail z-depth-1">
                                    <a href="blog-full-post.html"><img src="assets/images/b-1.jpg" alt="" class="responsive-img"></a>                                       
                                    <div class="blog-details">
                                        <div class="post-title" id="blog-post-5">
                                            <a href="blog-full-post.html">
                                                <h2>Web development </h2>
                                                <span>branding, ui-ux, article</span>
                                            </a>
                                        </div> 
                                        <div class="post-details">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Aliquam ornare arcu ac velit ultricies fermentum.
                                            Aliquam ornare arcu ac velit ultricies fermentum.</p> 
                                        </div> 
                                    </div>              
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- =========================================
                  PRICING 
         ==========================================-->
        <section id="pricing-table" ng-if="accessGranted == true">
            <div class="container">
                <div class="row">
                    <div class="section-title wow fadeIn a1" data-wow-delay="0.1s">
                        <h2> <i class="fa  fa-money "></i>Pricing Table </h2>
                    </div>
                    <div class="pricing wow fadeIn a3" data-wow-delay="0.3s">
                        <div class="row">
                            <div class="plan col m4 s12">
                                <ul class="thumbnail z-depth-1">
                                    <li> <strong>START-UP</strong> </li>
                                    <li> <h3>$299</h3> </li>
                                    <li><div class="span"> Logo</div></li>
                                    <li><div class="span"> Domine & Hosting</div></li>
                                    <li><div class="span"> One Page Landing</div></li>
                                    <li><div class="span"> Email Marketing</div></li>
                                    <li><div class="span"> Email Marketing</div></li>
                                    <li><div class="span"> SEO</div></li>
                                    <li> <button type="button" class="btn btn-info waves-effect">Order now</button></li>
                                </ul>
                            </div>
                            <div class="plan col m4 s12">
                                <ul class="thumbnail z-depth-1">
                                    <li> <strong>SMALL BUSINESS</strong> </li>
                                    <li> <h3>$499</h3> </li>
                                    <li><div class="span"> Logo</div></li>
                                    <li><div class="span"> Domine & Hosting</div></li>
                                    <li><div class="span"> One Page Landing</div></li>
                                    <li><div class="span"> Adsence</div></li>
                                    <li><div class="span"> Email Marketing</div></li>
                                    <li><div class="span"> SEO</div></li>
                                    <li><button type="button" class="btn btn-info waves-effect">Order now</button></li>
                                </ul>
                            </div>
                            <div class="plan col m4 s12">
                                <ul class="thumbnail z-depth-1">
                                    <li> <strong>ENTERPRISE</strong></li>
                                    <li> <h3>$799</h3> </li>
                                    <li><div class="span"> Logo</div></li>
                                    <li><div class="span"> Domine & Hosting</div></li>
                                    <li><div class="span"> One Page Landing</div></li>
                                    <li><div class="span"> One Page Landing</div></li>
                                    <li><div class="span"> Email Marketing</div></li>
                                    <li><div class="span"> SEO</div></li>
                                    <li>  <button type="button" class="btn btn-info waves-effect">Order now</button> </li>
                                </ul>
                            </div>   
                        </div>
                    </div>
                </div>
            </div> 
        </section>
        
        <!-- =========================================
                CLIENTS
        ==========================================-->
        <section id="clients" ng-if="accessGranted == true">
            <div class="container">
                <div class="row">
                    <div class="section-title wow fadeIn a1" data-wow-delay="0.1s">
                        <h2> <i class="fa fa-quote-left"></i>Clients</h2>
                    </div>
                    <div class="clients-quates wow fadeIn a3" data-wow-delay="0.3s">
                        <div class="row">
                            <div class="quates col m4 s12">
                                <div class="thumbnail z-depth-1">
                                    <img src="assets/images/team1.jpg" alt="">
                                    <h3>Jhon Doe</h3>
                                    <span>CEO, Creative Market</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam 
                                    ornare arcu ac velit ultricies fermentum. Aliquam ornare arcu ac velit ultricies fermentum..</p>
                                </div>
                            </div>
                            <div class="quates col m4 s12">
                                <div class="thumbnail z-depth-1">
                                    <img src="assets/images/team1.jpg" alt="">
                                    <h3>Jhon Adnan</h3>
                                    <span>CEO, Lorem Ipsum</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Aliquam ornare arcu ac velit ultricies fermentum.Aliquam ornare arcu ac velit ultricies fermentum.</p>
                                </div>
                            </div>
                            <div class="quates col m4 s12">
                                <div class="thumbnail z-depth-1">
                                    <img src="assets/images/team1.jpg" alt="">
                                    <h3>Mark Anwar</h3>
                                    <span>CEO, Bdpark Market</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Aliquam ornare arcu ac velit ultricies fermentum. Aliquam ornare arcu ac velit ultricies fermentum.</p>
                                </div>
                            </div>   
                        </div>
                    </div>
                    <div class="clear"></div>
                    <!-- =========================================
                            CLIENTS LOGO   
                    ==========================================-->
                    <div class="clients-logo z-depth-1">
                        <div class="row">
                            <ul class="wow fadeIn a4" data-wow-delay="0.4s">
                                <li class="col m2 s6"><a href=""><img src="assets/images/client1.png" alt="" class="responsive-img"></a></li>
                                <li class="col m2 s6"><a href=""><img src="assets/images/client2.png" alt="" class="responsive-img"></a></li>
                                <li class="col m2 s6"><a href=""><img src="assets/images/client3.png" alt="" class="responsive-img"></a></li>
                                <li class="col m2 s6"><a href=""><img src="assets/images/client4.png" alt="" class="responsive-img"></a></li>
                                <li class="col m2 s6"><a href=""><img src="assets/images/client6.png" alt="" class="responsive-img"></a></li>
                                <li class="col m2 s6"><a href=""><img src="assets/images/client7.png" alt="" class="responsive-img"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> 
        </section>
        <!-- =========================================
                CONTACT  
        ==========================================-->
        <section id="contact-form">
            <div class="container">
                <div class="row">
                    <div class="section-title wow fadeIn a1" data-wow-delay="0.1s">
                        <h2> <i class="fa fa-send"></i>Contact</h2>
                    </div>
                    <div class="contact-form z-depth-1" id="contact">   
                        <div class="row">                                   
                            <form id="contactForm" data-toggle="validator">
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="input-field col m12 s12 wow fadeIn a2" data-wow-delay="0.2s">
                                    <label for="name" class="h4">Name *</label>
                                    <input type="text" class="form-control validate" id="name" required data-error="NEW ERROR MESSAGE">
                                </div>
                                <div class="input-field col m6 s12 wow fadeIn a4" data-wow-delay="0.4s">
                                    <label for="email" class="h4">Email *</label>
                                    <input type="email" class="form-control validate" id="email"  required>                
                                </div>
                                <div class="input-field col m6 s12 wow fadeIn a3" data-wow-delay="0.3s">
                                    <label for="phone_no" class="h4">Phone No</label>
                                    <input type="text" class="form-control validate" id="phone_no" >
                                </div>
                                <div class="input-field col m12 s12 wow fadeIn a6" data-wow-delay="0.6s">
                                    <label for="message" class="h4 ">Message *</label>
                                    <textarea id="message" class="form-control materialize-textarea validate" required></textarea>           
                                </div>
                                <button type="submit" id="form-submit" class="btn btn-success waves-effect wow fadeIn a7" data-wow-delay="0.7s"><i class="fa fa-send"></i> Submit</button>
                                                             
                            </form>                                     
                        </div> 
                    </div>
                    
                    <!-- =========================================
                            INTEREST  
                    ==========================================-->
                    
                    <div class="interests col s12 m12 l12 wow fadeIn" data-wow-delay="0.1s">
                        <div class="row">
                            <ul class="z-depth-1"> <!-- interetsr icon start -->
                                <li><a href="https://facebook.com/Go.PBDesk" target="_blank"><i class="fa fa-facebook-official tooltipped col m2 s6" data-position="top" data-delay="50" data-tooltip="Facebook"></i></a></li>
                                <li><a target="_blank" href="https://twitter.com/PBDesk"><i class="fa fa-twitter tooltipped col m2 s6" data-position="top" data-delay="50" data-tooltip="Twitter"></i></a></li>
                                <li><a target="_blank" href="http://www.linkedin.com/in/pinalbhatt"><i class="fa fa-linkedin tooltipped col m2 s6" data-position="top" data-delay="50" data-tooltip="linkedin"></i></a></li>
                                <li><a target="_blank" href="https://github.com/PBDesk"><i class="fa fa-github tooltipped col m2 s6" data-position="top" data-delay="50" data-tooltip="Github"></i></a></li>
                                <li><a target="_blank" href="https://plus.google.com/+Pbdesk"><i class="fa fa-google-plus tooltipped col m2 s6" data-position="top" data-delay="50" data-tooltip="Google+"></i></a></li>
                                <li><a target="_blank" href="http://PBDesk.IO"><i class="fa fa-globe tooltipped col m2 s6" data-position="top" data-delay="50" data-tooltip="My Blog | My Website"></i></a></li>
                            </ul> <!-- interetsr icon end -->
                        </div>
                    </div>
                    <p style="text-align: center">&copy; PBDesk.IO | from the desk of Pinal Bhatt</p>
                </div>
            </div> 
        </section>


		
        <!-- SCRIPTS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js'></script>
    <script src="https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>  
    <script src="assets/js/masonry.pkgd.js"></script>
    <script src="assets/js/magicline.js"></script>
    <script src="assets/js/jquery.fancybox.pack.js"></script>
    <script src="assets/js/validator.min.js"></script>
    <script src="assets/js/modernizr.js"></script>
    <script src="assets/js/jquery.sticky.js"></script>
    <!-- wow js-->
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/init.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.min.js"></script>
    <script src="assets/ngApp/RApp.module.js"></script>
    <script src="assets/ngApp/RApp.APIService.js"></script>
    <script src="assets/ngApp/RApp.controller.js"></script>
    
   
    </body>
</html>1