<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <section id="main">
        {% include leftMenu.html %}
        {% include rightMenu.html %}
        <section id="content">
            <div class="container">
                {{ content }}

                <div class="card">
                    <div class="card-header">
                        <h2>Body Copy</h2>

                        <ul class="actions">
                            <li class="dropdown action-show">
                                <a href="" data-toggle="dropdown">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>

                                <div class="dropdown-menu pull-right">
                                    <p class="p-20">
                                        You can put anything here
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body card-padding">
                        {% include Ad/R2.html %}
                    </div>
                </div>
            </div>
        </section>
    </section>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
