<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <section id="main">
        {% include leftMenu.html %}
        {% include rightMenu.html %}
        <section id="content">
            <div class="container">
                {{ content }}

                <div class="card">
                    <div class="card-body card-padding">
                        {% include Ad/R2.html %}
                    </div>
                </div>
            </div>
        </section>
    </section>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
