---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="card z-depth-2">
        <div class="card-header bgm-cyan">
            <h2 itemprop="name headline">{{ page.title }} <small>
                <i class="fa fa-calendar"></i> <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
            </small>
            </h2>
        </div>

        <div class="card-body card-padding">
            <i class="fa fa-bookmark"></i> <a href="/{{ page.categories[1] }}" class="catNameStyle">{{ page.categories[1] }}</a>
            <span style="float:right">
                <i class="fa fa-tags"></i> <ul class="ptaglist">{% for tag in page.tags %}<li><a href="/tag/{{tag}}">{{tag}}</a> </li>{% endfor %}</ul>
            </span>
            {{ content }}
        </div>

        <ul class="list-unstyled clearfix wpb-actions">
            <li>
                <i class="fa fa-tags"></i>
                <ul class="ptaglist">{% for tag in page.tags %}<li><a href="/tag/{{tag}}">{{tag}}</a> </li>{% endfor %}</ul>
            </li>

            <li class="pull-right"><i class="fa fa-bookmark"></i> <a href="/{{ page.categories[1] }}" class="catNameStyle">{{ page.categories[1] }}</a></li>
        </ul>
    </div>



   <!-- <div class="card">
        <div class="card-header">
            <h2><a href="/{{ page.categories[1] }}" class="catNameStyle">{{ page.categories[1] }}</a></h2>

            <ul class="actions">
                <li class="dropdown action-show">
                    <a href="" data-toggle="dropdown">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <div class="dropdown-menu pull-right">
                        <p class="p-20">
                            You can put anything here
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="card-body card-padding">
            <h1>This is a Heading 1</h1>
            <p>Suspendisse vel quam malesuada, aliquet sem sit amet, fringilla elit. Morbi tempor tincidunt tempor. Etiam id turpis viverra, vulputate sapien nec, varius sem. Curabitur ullamcorper fringilla eleifend. In ut eros hendrerit est consequat posuere et at velit.</p>

            <div class="clearfix"></div>

            <h2>This is a Heading 2</h2>
            <p>In nec rhoncus eros. Vestibulum eu mattis nisl. Quisque viverra viverra magna nec pulvinar. Maecenas pellentesque porta augue, consectetur facilisis diam porttitor sed. Suspendisse tempor est sodales augue rutrum tincidunt. Quisque a malesuada purus.</p>

            <div class="clearfix"></div>

            <h3>This is a Heading 3</h3>
            <p>Vestibulum auctor tincidunt semper. Phasellus ut vulputate lacus. Suspendisse ultricies mi eros, sit amet tempor nulla varius sed. Proin nisl nisi, feugiat quis bibendum vitae, dapibus in tellus.</p>

            <div class="clearfix"></div>

            <h4>This is a Heading 4</h4>
            <p>Nulla et mattis nunc. Curabitur scelerisque commodo condimentum. Mauris blandit, velit a consectetur egestas, diam arcu fermentum justo, eget ultrices arcu eros vel erat.</p>

            <div class="clearfix"></div>

            <h5>This is a Heading 5</h5>
            <p>Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas mattis dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio. Vivamus pretium nec odio cursus elementum. Suspendisse molestie ullamcorper ornare.</p>

            <div class="clearfix"></div>

            <h6>This is a Heading 6</h6>
            <p>Donec ultricies, lacus id tempor condimentum, orci leo faucibus sem, a molestie libero lectus ac justo. ultricies mi eros, sit amet tempor nulla varius sed. Proin nisl nisi, feugiat quis bibendum vitae, dapibus in tellus.</p>
        </div>
    </div>-->

    <div class="card z-depth-2">
        <div class="card-header">
            <h2>Comments</h2>
        </div>

        <div class="card-body card-padding">
            {% include disqus.html %}
        </div>
    </div>

    <div class="card z-depth-2">
        <div class="card-header">
            <h2>Related Posts</h2>
        </div>
        <div class="card-body card-padding">
            <div class="row">

            {% for post in site.related_posts | limit: 4 %}
            <div class="col-sm-4">
                {% include pagelets/postPagelet.html %}
            </div>
            {% endfor %}

        </div>
        </div>
    </div>






</article>
