<div class="card z-depth-4">
    <div class="card-body card-padding bgm-cyan c-white">
        <a href="{{ post.url }}">{{ post.title }}</a>
        <p><small>{{ post.date | date: "%b %-d, %Y" }}</small></p>
        <small><i class="fa fa-tags"></i> <ul class="ptaglist">{% for tag in page.tags %}<li><a href="/tag/{{tag}}">{{tag}}</a> </li>{% endfor %}</ul></small>
    </div>
    <ul class="list-unstyled clearfix wpb-actions">
        <li ><i class="fa fa-bookmark"></i> <a href="/{{ page.categories[0] }}" class="catNameStyle">{{ post.categories[0] }}</a></li>
        <li class="pull-right"><a href="/ebooks"><button class="btn bgm-blue btn-icon waves-effect waves-circle waves-float z-depth-4"><i class="zmdi zmdi-mail-send"></i></button></a></li>
    </ul>
</div>