.header-inner .logo a {
    text-transform: none !important;
}
.four-zero{
    margin-top: 0px;
    height: 30em;
}

.JText {
    text-align: justify !important;
}

.CText {
    text-align: center !important;
}
.bold {
    font-weight:bold !important;
}
.social {
    margin-top: 15px;
    margin-bottom: 10px;
}

.social a i {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;

    width: 30px;
    height: 30px;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 50px;
}


.social a.facebook i{
    background:#1e78ae;
}

.social a.twitter i{
    background:#1ba1e2;
}

.social a.google-plus i{
    background:#f22d0c;
}

.social a.linkedin i{
    background:#2d93cf;
}

.social a.pinterest i{
    background:#dd1617;
}

.social a:hover i{
    background:#000;
}

.ptaglist {
    display: inline;
    list-style: none;
    padding-left: 4px;
}

.ptaglist li {
    display: inline;
}

.ptaglist li:after {
    content: ", ";
}

.ptaglist li:last-child:after {
    content: "";
}

.card {
    font-size: larger;
}

.card .card-header h2 {
    font-weight: bold
}

.bgm-cyan a {
    color: #fff
}

.bgm-cyan a:hover {
    color: wheat;
}

.bgm-cyan a:visited {
    color: #fff
}

.adcard{
    background-color: transparent;
    box-shadow: none;
}

.thumbnail img{
    max-width: 100%; /* do not stretch the bootstrap column */
}

.img-wrapper{
    width: 100%;
    padding-bottom: 150%; /* your aspect ratio here! */
    position: relative;
}

.img-wrapper img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100%; /* optional: if you want the smallest images to fill the .thumbnail */
}