---
layout: default
menuGroup: Home
---
<div class="row">


<div class="col-sm-4">

    <div class="card">
        <div class="card-header bgm-cyan"> <!-- Please refer the Colors page in User Interface for more color classes -->
            <h2>Welcome to my desk! <small>from the desk of Pinal Bhatt</small></h2>
        </div>

        <div class="card-body card-padding JText">
            Hello Everyone! I'm Pinal Bhatt and Welcome to My Desk!. I am a software engineer, basically a developer and always on learning ramp. On this site you'll find interesting posts, articles, tutorials, news updates and links on Microsoft.Net, ASP.NET, MVC, WebAPIs, C#, VB.Net, Silverlight, WPF, Windows8, Metro Apps, WCF, XAML, JavaScript, jQuery, AngularJS, NodeJS, MongoDB, Mocha,Design Patterns, Social Media, Mobiles, Science & Technology and other random thoughts and opinions.
        </div>
    </div>

    <div class="card profile-view">
        <div class="pv-header">
            <img src="img/profile-pics/1.jpg" class="pv-main" alt="">
        </div>

        <div class="pv-body">
            <h2>Pinal Bhatt</h2>
            <small>Software Engineer </small>
            <ul class="pv-contact">
                <li>always on the learning ramp</li>
            </ul>
            <div class="social"><a target="_blank" class="twitter" href="http://twitter.com/PBDesk"><i class="fa fa-twitter"></i></a> <a target="_blank" class="facebook" href="https://www.facebook.com/Go.PBDesk"><i class="fa fa-facebook"></i></a> <a target="_blank" class="google-plus" href="https://plus.google.com/+Pbdesk"><i class="fa fa-google-plus"></i></a> <a target="_blank" class="linkedin" href="http://www.linkedin.com/in/pinalbhatt"><i class="fa fa-linkedin"></i></a> <a target="_blank" class="pinterest" href="https://github.com/PBDesk"><i class="fa fa-github"></i></a></div>
            <ul class="pv-follow">
                <li><i class="zmdi zmdi-globe-alt"></i> www.PBDesk.IO</li>

            </ul>

            <a href="" class="pv-follow-btn">About Me</a>
        </div>
    </div>

    <div class="card adcard">
        {% include Ad/R2.html %}
    </div>

</div>

<div class="col-sm-4">
    <!-- Tabs -->
    <div class="card">
        <div class="card-header">
            <h2>Blended Learning Pathway <small>Free eLearning Resources for you</small></h2>
        </div>

        <div class="card-body">
            <ul class="tab-nav tn-justified tn-icon" role="tablist">
                <li role="presentation" class="active">
                    <a class="col-sx-4" href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">
                        <i class="zmdi zmdi-book icon-tab"></i>
                    </a>
                </li>
                <li role="presentation">
                    <a class="col-xs-4" href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">
                        <i class="zmdi zmdi-tv-list icon-tab"></i>
                    </a>
                </li>
                <li role="presentation">
                    <a class="col-xs-4" href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab">
                        <i class="zmdi zmdi-layers icon-tab"></i>
                    </a>
                </li>
            </ul>

            <div class="tab-content p-20">
                <div role="tabpanel" class="tab-pane animated fadeIn in active" id="tab-1">
                    <h2>eBooks</h2>
                    Books - one of the basic source of Knowledge now in digital formats called "eBooks"
                    <ul class="list-unstyled clearfix">
                        <li class="pull-right"><a href="/ebooks"><button class="btn btn-warning btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-arrow-forward"></i></button></a></li>
                    </ul>
                </div>

                <div role="tabpanel" class="tab-pane animated fadeIn" id="tab-2">
                    <h2>Tutorials</h2>
                    Complete Tutorial Series - Free online tutorials and videos for self learning technology concepts.
                    <ul class="list-unstyled clearfix">
                        <li class="pull-right"><a href="/ebooks"><button class="btn btn-warning btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-arrow-forward"></i></button></a></li>
                    </ul>
                </div>

                <div role="tabpanel" class="tab-pane animated fadeIn" id="tab-3">
                    <h2>Articles</h2>
                    Articles and blog posts that I would like to share with you.
                    <ul class="list-unstyled clearfix">
                        <li class="pull-right"><a href="/ebooks"><button class="btn btn-warning btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-arrow-forward"></i></button></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card adcard">
        {% include Ad/R2.html %}
    </div>

    <!-- Social -->
    <div class="card go-social">
        <div class="card-header">
            <h2>Social with us <small>Nunc sit amet dapibus tellus</small></h2>
        </div>

        <div class="card-body clearfix">
            <a class="col-xs-4" href="">
                <img src="img/social/facebook-128.png" class="img-responsive" alt="">
            </a>

            <a class="col-xs-4" href="">
                <img src="img/social/twitter-128.png" class="img-responsive" alt="">
            </a>

            <a class="col-xs-4" href="">
                <img src="img/social/googleplus-128.png" class="img-responsive" alt="">
            </a>

            <a class="col-xs-4" href="">
                <img src="img/social/linkedin-128.png" class="img-responsive" alt="">
            </a>

            <a class="col-xs-4" href="">
                <img src="img/social/youtube-128.png" class="img-responsive" alt="">
            </a>

            <a class="col-xs-4" href="">
                <img src="img/social/blogger-128.png" class="img-responsive" alt="">
            </a>
        </div>
    </div>

</div>

<div class="col-sm-4">
    <!-- Rating -->
    <div class="card adcard">
        {% include Ad/R2.html %}
    </div>

    <div class="card picture-list">
        <div class="card-header">
            <h2>Learn Technology <small>Tutorials & Videos by Topic</small></h2>
        </div>

        <div class="pl-body">
            <div class="col-xs-3">
                <a href="">
                    <img src="img/logos/angular256.jpeg" alt="">
                </a>
            </div>

            <div class="col-xs-3">
                <a href="">
                    <img src="img/logos/html5_256.png" alt="">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="">
                    <img src="img/logos/javascript.png" alt="">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="">
                    <img src="img/logos/meteor128.png" alt="">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="">
                    <img src="img/logos/nodejs256.jpeg" alt="">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="">
                    <img src="img/logos/dotnet256.png" alt="">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="">
                    <img src="img/logos/vs256.png" alt="">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="">
                    <img src="img/logos/gulp.jpeg" alt="">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="">
                    <img src="img/logos/aspnet.jpeg" alt="">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="">
                    <img src="img/logos/react256.png" alt="">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="">
                    <img src="img/logos/csharp128.png" alt="">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="">
                    <img src="img/logos/css256.png" alt="">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="">
                    <img src="img/logos/mocah256.png" alt="">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="">
                    <img src="img/logos/typesacript.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <!-- Custom header -->
    <div class="card">
        <div class="card-header bgm-cyan"> <!-- Please refer the Colors page in User Interface for more color classes -->
            <h2>This Site <small>My love to developer community</small></h2>
        </div>

        <div class="card-body card-padding JText" >
            I created this site to narrate my coding and technology learning experiences. I like sharing my experiments, ideas and experience with everyone by writing articles on latest technological trends. I feel pleased and pride by sharing my knowledge and information that I have gained via Internet. And this site is my heartily attempt towards this.
        </div>
    </div>

</div>

</div>
<div class="card">
    <div class="card-header">
        <h2>Body Copy</h2>

        <ul class="actions">
            <li class="dropdown action-show">
                <a href="" data-toggle="dropdown">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <div class="dropdown-menu pull-right">
                    <p class="p-20">
                        You can put anything here
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div class="card-body card-padding">
        <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
        <p>Pellentesque lacinia sagittis libero et feugiat. Etiam volutpat adipiscing tortor non luctus. Vivamus venenatis vitae metus et aliquet. Praesent vitae justo purus. In hendrerit lorem nisl, ac lacinia urna aliquet non. Quisque nisi tellus, rhoncus quis est sit amet, lacinia euismod nunc. Aenean nec nibh velit. Fusce quis ante in nisl molestie fringilla. Nunc vitae ante id magna feugiat condimentum. Maecenas sit amet urna massa.</p>
        <p>Integer eu lectus sollicitudin, hendrerit est ac, sollicitudin nisl. Quisque viverra sodales lectus nec ultrices. Fusce elit dolor, dignissim a nunc id, varius suscipit turpis. Cras porttitor turpis vitae leo accumsan molestie. Morbi vitae luctus leo. Sed nec scelerisque magna, et adipiscing est. Proin lobortis lectus eu sem ullamcorper, commodo malesuada quam fringilla. Curabitur ac nunc dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sagittis enim eu est lacinia, ut egestas ligula imperdiet.</p>
    </div>
</div>


<div class="card z-depth-2">
    <div class="card-header">
        <h2>Featured Posts</h2>
    </div>
    <div class="card-body card-padding">
        <div class="row">
            {% assign loopCounter = 0 %}
            {% for post in site.categories.blog %}
                {% if post.featured == true  %}
                    <div class="col-sm-4">
                        {% include pagelets/postPagelet.html %}
                    </div>
                    {% assign loopCounter = loopCounter | plus:1 %}
                    {% if loopCounter == 4 %}
                        <div class="col-sm-4">
                            <div class="card adcard">
                                {% include Ad/R2.html %}
                            </div>
                        </div>
                        {% assign loopCounter = loopCounter | plus:1 %}
                    {% endif %}

                    {% if loopCounter == 6 %}
                        {% break %}
                    {% endif %}
                {% endif %}
            {% endfor %}





        </div>
    </div>
    <ul class="list-unstyled clearfix wpb-actions">
        <li class="wpba-attrs">
            <ul class="list-unstyled list-inline m-l-0 m-t-5">
                <li><a data-wpba="image" data-toggle="tab" href="" data-target="#wpm-image"><i class="zmdi zmdi-image"></i></a></li>
                <li><a data-wpba="video" data-toggle="tab" href="" data-target="#wpm-video"><i class="zmdi zmdi-play-circle"></i></a></li>
                <li><a data-wpba="link" data-toggle="tab" href="" data-target="#wpm-link"><i class="zmdi zmdi-link"></i></a></li>
            </ul>
        </li>

        <li class="pull-right"><a href="/blog"><button class="btn btn-primary btn-sm">All Posts</button></a></li>
    </ul>
</div>

<div class="card z-depth-2">
    <div class="card-header">
        <h2>Featured eBooks</h2>
    </div>
    <div class="card-body card-padding">
        <div class="row">
            {% assign loopCounter = 0 %}
            {% for post in site.categories.eBooks %}
            {% if post.featured == true  %}
            <div class="col-sm-3">
                <div class="thumbnail">
                    <div class="img-wrapper">
                        <a href="{{post.url}}"><img src="{{ post.image }}" title="{{ post.title}}" class="img-responsive img-rounded" /></a>
                    </div>
                    <div class="caption text-center">{{post.title}}</div><!-- optional -->
                </div>

            </div>
            {% assign loopCounter = loopCounter | plus:1 %}

            {% if loopCounter == 4 %}
                {% break %}
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="card z-depth-2">
    <div class="card-header">
        <h2>People</h2>
    </div>
    <div class="card-body card-padding">
        <div class="row">
            {% assign loopCounter = 0 %}
            {% for post in site.categories.People %}
            {% if post.featured == true  %}
            <div class="col-sm-4">
                {% include pagelets/postPagelet.html %}
            </div>
            {% assign loopCounter = loopCounter | plus:1 %}
            {% if loopCounter == 4 %}
            <div class="col-sm-4">
                <div class="card adcard">
                    {% include Ad/R2.html %}
                </div>
            </div>
            {% assign loopCounter = loopCounter | plus:1 %}
            {% endif %}

            {% if loopCounter == 6 %}
            {% break %}
            {% endif %}
            {% endif %}
            {% endfor %}





        </div>
    </div>
</div>

<div class="row">

    {% for post in site.posts %}
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header bgm-cyan">
                <h2>{{ post.title }} <small>{{ post.date | date: "%b %-d, %Y" }}</small></h2>

                <ul class="actions actions-alt">
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown" aria-expanded="false">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="card-body card-padding">
                Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
            </div>
        </div>
    </div>
    {% endfor %}

</div>

<div class="home">

  <h1 class="page-heading">Posts</h1>

 <!-- <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>-->

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
<ul class="tags">
    {% for tag in site.tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}
    <li>{{t | downcase | replace:" ","-" }} has {{ posts | size }} posts</li>
    {% endfor %}
</ul>
