.social {
    margin-top: 15px;
    margin-bottom: 10px;
}

.social a i {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;

    width: 30px;
    height: 30px;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 50px;
}


.social a.facebook i{
    background:#1e78ae;
}

.social a.twitter i{
    background:#1ba1e2;
}

.social a.google-plus i{
    background:#f22d0c;
}

.social a.linkedin i{
    background:#2d93cf;
}

.social a.pinterest i{
    background:#dd1617;
}

.social a:hover i{
    background:#000;
}

.jtxt {
    text-align: justify;
}
.ctxt{
    text-align: center;
}

.a-c{
    color: #767270; //theme color
}
.a-c:hover{
    color: #000000;
}

.a-c .fa {
    text-align: inherit !important;
    display: inline;
    font-size: inherit;
}